
#export PYTHONDONTWRITEBYTECODE=False

moyu_engine/__pycache__

moyu_engine/config/__pycache__

moyu_engine/config/event/__pycache__
moyu_engine/config/surface/__pycache__
moyu_engine/config/system/__pycache__