
### export PYTHONDONTWRITEBYTECODE=False

# MacOS
.DS_Store
*/.DS_Store

# VSCodeCounter
.VSCodeCounter

# History
.history

# GitHub
.github

# Python
*.pyc
*.cpython-38.pyc
*.cpython-39.pyc
*.cpython-310.pyc
*.cpython-311.pyc
*/__pycache__

__pycache__
moyu_engine/__pycache__
moyu_engine/assets/__pycache__
moyu_engine/components/__pycache__
moyu_engine/config/__pycache__
moyu_engine/note/__pycache__
moyu_engine/tool/__pycache__
